<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IBizService" >
                <readerQuotas maxArrayLength="65536000" maxBytesPerRead="65536000" maxStringContentLength="65536000"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://physicslab1:8002/BizService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBizService" contract="BizService.IBizService"
                name="BasicHttpBinding_IBizService" />
        </client>
    </system.serviceModel>
</configuration>