<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IBizService" maxBufferSize="6553600" maxBufferPoolSize="6553600" maxReceivedMessageSize="6553600" allowCookies="true"  >
                <readerQuotas maxStringContentLength="6553600"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://physicslab1:8002/BizService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBizService" contract="BizService.IBizService"
                name="BasicHttpBinding_IBizService" />
        </client>
    </system.serviceModel>
</configuration>